<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI_Sanity_Tests">
    <listeners>
        <listener class-name="main.java.commons.BaseTestListener">
        </listener>
    </listeners>
    <test name="Test">
        <classes>
            <class name="test.java.basesuite.BaseTest"></class>
        </classes>
    </test>

</suite> <!-- Suite -->